# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env

# Environments
.venv/
.uv/
.python-version

# Tools
.ruff_cache/
.mypy_cache/
.pytest_cache/

# OS
.DS_Store

# uv lockfile (optional)
uv.lock
